* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  position: relative;
}

nav {
  height: 53px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 75px;
  list-style-type: none;
}
.menu .menu_link {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 25px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_official {
  margin-top: 6px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  opacity: 0.5;
}
.subheader .subheader_call {
  margin-top: 19px;
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}
.subheader .subheader_number {
  display: block;
  margin-top: 8px;
  text-align: right;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}
.subheader .subheader_btn {
  width: 172px;
  height: 46px;
  border: none;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  margin-top: 19px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-transform: uppercase;
}

.promo {
  min-height: 799px;
  padding-top: 152px;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
}
.promo .promo_header {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
}
.promo .promo_subheader {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 22px;
}
.promo .promo_descr {
  margin-top: 23px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.promo .promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  border: none;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.info {
  height: 849px;
}
.info .info_skills {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 113px;
  height: 24px;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.info .info_header {
  margin-top: 33px;
  margin-bottom: 16px;
  color: #222;
  text-align: center;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.info_img {
  height: 116px;
  width: 116px;
  background-color: #1EACC7;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.info span {
  color: #1EACC7;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.info .info_txt {
  margin-left: 150px;
  margin-bottom: 31px;
  width: 371px;
  height: 150px;
  color: #202020;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
.info .info_txt1 {
  margin-left: 150px;
  margin-bottom: 48px;
  width: 341px;
  height: 151px;
  color: #202020;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}